<template>
	<div>
		<el-row :gutter="20">
			<h1>Consulta de Casos Indiviudales</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Prodest, inquit, mihi eo esse animo. An vero, inquit, quisquam potest probare, quod perceptfum, quod. Ex eorum enim scriptis et institutis cum omnis doctrina liberalis, omnis historia. An, partus ancillae sitne in fructu habendus, disseretur inter principes civitatis, P. <a href="http://loripsum.net/" target="_blank">Duo Reges: constructio interrete.</a> </p>

			<p><b>Cum praesertim illa perdiscere ludus esset.</b> <a href="http://loripsum.net/" target="_blank">Nescio quo modo praetervolavit oratio.</a> Atqui eorum nihil est eius generis, ut sit in fine atque extrerno bonorum. <a href="http://loripsum.net/" target="_blank">Contineo me ab exemplis.</a> Non est enim vitium in oratione solum, sed etiam in moribus. Non ego tecum iam ita iocabor, ut isdem his de rebus, cum L. <b>Tum mihi Piso: Quid ergo?</b> Memini me adesse P. Atque hoc loco similitudines eas, quibus illi uti solent, dissimillimas proferebas. <b>Deprehensus omnem poenam contemnet.</b> </p>

			<p>Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Itaque haec cum illis est dissensio, cum Peripateticis nulla sane. Hoc sic expositum dissimile est superiori. <b>Sint modo partes vitae beatae.</b> Ut id aliis narrare gestiant? <a href="http://loripsum.net/" target="_blank">Minime vero istorum quidem, inquit.</a> Sed quid sentiat, non videtis. <a href="http://loripsum.net/" target="_blank">Sed nimis multa.</a> Non enim quaero quid verum, sed quid cuique dicendum sit. Re mihi non aeque satisfacit, et quidem locis pluribus. </p>


		</el-row>
	</div>
</template>

<script>

	export default {
		components: {
		},
		data() {
			return {
			}
		},
		mounted() {
			
		},
		methods: {
		
		}
	}
</script>

<style>
	.box-card {
		margin-bottom: 16px;
		box-shadow: none;
	}
	.box-content {
		margin: 0; padding: 0;
	}
	.title-percentage {
		display: block;
		text-align: left;
		padding: 0.35em 0;
	}
	.chart-container > .el-card__body{
		margin: 0; padding: 0;
	}
</style>
