<template>
	<div>
		<el-row :gutter="20" v-loading.fullscreen.lock="loading">
			<header-section icon="" title="Registro de Personas"></header-section>
			<el-tabs type="border-card">
				<el-tab-pane label="Titular">
					<el-collapse v-model="activeNames">
  						<el-collapse-item title="Datos generales" name="1">
  							<el-form ref="form" :model="titular" label-width="120px" label-position="top">
								<el-row :gutter="20">
									<el-col :span="24">
										<el-upload
										  class="avatar-uploader"
										  action="https://jsonplaceholder.typicode.com/posts/"
										  :show-file-list="false"
										  :on-success="handleAvatarSuccess"
										  :before-upload="beforeAvatarUpload">
										  <img v-if="imageUrl" :src="imageUrl" class="avatar">
										  <i v-else class="el-icon-plus avatar-uploader-icon"></i>
										</el-upload>
									</el-col>
								</el-row>
								<el-row :gutter="20">
									<el-col :span="8">
										<el-form-item label="Nombre" prop="name">
											<el-input placeholder="Ingrese el nombre"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Apellido paterno" prop="name">
											<el-input placeholder="Ingrese el apellido paterno"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Apellido materno" prop="name">
											<el-input placeholder="Ingrese el apellido materno"></el-input>
										</el-form-item>
									</el-col>
								</el-row>
								<el-row :gutter="20">
									<el-col :span="8">
										<el-form-item label="Fecha de nacimiento" prop="name">
											<el-date-picker type="date" placeholder="Seleccione una fecha" style="width: 100%;"></el-date-picker>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Estado de Origen" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Municipio de origen" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
								</el-row>
								<el-row :gutter="20">
									<el-col :span="8">
										<el-form-item label="Estado civil" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Sexo" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Grupo Etnico" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
								</el-row>
							</el-form>
  						</el-collapse-item>
  						<el-collapse-item title="Filiación">
  							<el-form ref="form" :model="titular.filiation" label-width="120px" label-position="top">
	  							<el-row :gutter="20">
									<el-col :span="8">
										<el-form-item label="Estatura" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Peso" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Largo de cabello" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
								</el-row>
								<el-row :gutter="20">
									<el-col :span="8">
										<el-form-item label="Estilo de cabello" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Color de cabello" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Color de ojos" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
								</el-row>
								<el-row :gutter="20">
									<el-col :span="8">
										<el-form-item label="Color de tez" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Forma de la cara" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Señas particulares" prop="name">
											<el-input placeholder="Ingrese las señas"></el-input>
										</el-form-item>
									</el-col>
								</el-row>
							</el-form>
  						</el-collapse-item>
  						<el-collapse-item title="Contacto">
  							<el-form ref="form" :model="titular.contacts" label-width="120px" label-position="top">
	  							<el-row :gutter="20">
	  								<el-col :span="10">
										<el-form-item label="Correo electrónico" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="4">
										<el-form-item label="Lada" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="10">
										<el-form-item label="Teléfono" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
	  							</el-row>
	  							<p style="text-align:right;">
	  								<el-button type="primary">Agregar telefóno</el-button>
	  							</p>
	  							<el-row :gutter="20">
	  								<el-col :span="8">
										<el-form-item label="Calle" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Número" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Colonia" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
	  							</el-row>
	  							<el-row :gutter="20">
	  								<el-col :span="8">
										<el-form-item label="Población" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Delegación o Municipio" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="CP" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
	  							</el-row>
	  							<el-row :gutter="20">
									<el-col :span="12">
										<el-form-item label="País" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="12">
										<el-form-item label="Estado" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
								</el-row>
	  							<p style="text-align:right;">
	  								<el-button type="primary">Agregar dirección</el-button>
	  							</p>
  							</el-form>
  						</el-collapse-item>
  					</el-collapse>
					
				</el-tab-pane>
				<el-tab-pane label="Compareciente">
					<el-collapse v-model="activeNames">
  						<el-collapse-item title="Datos generales" name="1">
							<el-form ref="form" :model="titular.appearing" label-width="120px" label-position="top">
								<el-row :gutter="20">
									<el-col :span="24">
										<el-upload
										  class="avatar-uploader"
										  action="https://jsonplaceholder.typicode.com/posts/"
										  :show-file-list="false"
										  :on-success="handleAvatarSuccess"
										  :before-upload="beforeAvatarUpload">
										  <img v-if="imageUrl" :src="imageUrl" class="avatar">
										  <i v-else class="el-icon-plus avatar-uploader-icon"></i>
										</el-upload>
									</el-col>
								</el-row>
								<el-row :gutter="20">
									<el-col :span="8">
										<el-form-item label="Nombre" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Apellido paterno" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Apellido materno" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
								</el-row>
								<el-row :gutter="20">
									<el-col :span="8">
										<el-form-item label="Fecha de nacimiento" prop="name">
											<el-date-picker type="date" placeholder="Seleccione una fecha" style="width: 100%;"></el-date-picker>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Estado de origen" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Estado civil" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
								</el-row>
								<el-row :gutter="20">
									<el-col :span="8">
										<el-form-item label="Sexo" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Parentesco" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="8">
									</el-col>
								</el-row>
							</el-form>
						</el-collapse-item>
						<el-collapse-item title="Contacto">
  							<el-form ref="form" :model="titular.contacts" label-width="120px" label-position="top">
	  							<el-row :gutter="20">
	  								<el-col :span="10">
										<el-form-item label="Correo electrónico" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="4">
										<el-form-item label="Lada" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="10">
										<el-form-item label="Teléfono" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
	  							</el-row>
	  							<p style="text-align:right;">
	  								<el-button type="primary">Agregar telefóno</el-button>
	  							</p>
	  							<el-row :gutter="20">
	  								<el-col :span="8">
										<el-form-item label="Calle" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Número" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Colonia" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
	  							</el-row>
	  							<el-row :gutter="20">
	  								<el-col :span="8">
										<el-form-item label="Población" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="Delegación o Municipio" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="CP" prop="name">
											<el-input></el-input>
										</el-form-item>
									</el-col>
	  							</el-row>
	  							<el-row :gutter="20">
									<el-col :span="12">
										<el-form-item label="País" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="12">
										<el-form-item label="Estado" prop="name">
											<el-select style="width:100%;">
											    <el-option
											      v-for="item in [{id:1,name:"Option"}]"
											      :key="item.id"
											      :label="item.name"
											      :value="item.id">
											    </el-option>
											</el-select>
										</el-form-item>
									</el-col>
								</el-row>
	  							<p style="text-align:right;">
	  								<el-button type="primary">Agregar dirección</el-button>
	  							</p>
  							</el-form>
  						</el-collapse-item>
					</el-collapse>
				</el-tab-pane>
			</el-tabs>
		</el-row>
	</div>
</template>
<style>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }
  .avatar {
    width: 100px;
    height: 100px;
    display: block;
  }
</style>
<script>
	import HeaderSection from '../../partials/HeaderSection';
	export default {
		components: {
			HeaderSection
		},
		data() {
			return {
				titular:{filiation:{},contacts:[]},
				imageUrl:"",
				loading:false,
				activeNames:["1"]
			}
		},
		mounted() {
			
		},
		methods: {
		handleAvatarSuccess(res, file) {
	        this.imageUrl = URL.createObjectURL(file.raw);
	    },
	    beforeAvatarUpload(file) {
	        const isJPG = file.type === 'image/jpeg';
	        const isLt2M = file.size / 1024 / 1024 < 2;

	        if (!isJPG) {
	          this.$message.error('La imagen debe estar en formato JPG!');
	        }
	        if (!isLt2M) {
	          this.$message.error('La imagen excede los 2MB!');
	        }
	        return isJPG && isLt2M;
	      }
		}
	}
</script>

<style>
	.box-card {
		margin-bottom: 16px;
		box-shadow: none;
	}
	.box-content {
		margin: 0; padding: 0;
	}
	.title-percentage {
		display: block;
		text-align: left;
		padding: 0.35em 0;
	}
	.chart-container > .el-card__body{
		margin: 0; padding: 0;
	}
</style>
