<template>
	<div>
		<el-row :gutter="20">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, veritatis debitis similique eligendi asperiores tempore numquam inventore ea quia, nihil velit ex expedita, voluptatem, corporis sequi! Nam officia, cum hic.
		</el-row>
	</div>
</template>

<script>

	export default {
		components: {
		},
		data() {
			return {
			}
		},
		mounted() {
			
		},
		methods: {
		
		}
	}
</script>

<style>
	.box-card {
		margin-bottom: 16px;
		box-shadow: none;
	}
	.box-content {
		margin: 0; padding: 0;
	}
	.title-percentage {
		display: block;
		text-align: left;
		padding: 0.35em 0;
	}
	.chart-container > .el-card__body{
		margin: 0; padding: 0;
	}
</style>
