<template>
  <div>
		<el-row :gutter="20">
		 <el-col :span="22" :offset="1">
			 <div class="grid-content bg-purple-dark">
				 <el-card class="box-card">
					 <div slot="header" class="clearfix">
						 <span>Filtros de Búsqueda</span>

					 </div>

					 <el-form :label-position="labelPosition" label-width="100px" :model="formLabelAlign">
  			       <el-col :span="8">
  			         <el-form-item label="Nombre">
  			           <el-input placeholder="Nombre y/o Apellido(s)" v-model='filters.names'></el-input>
  			         </el-form-item>
  			       </el-col>
               <el-col :span="8">
  			         <el-form-item label="Folio">
  			           <el-input placeholder="Folio" v-model="filters.folio"></el-input>
  			         </el-form-item>
  			       </el-col>
               <el-col :span="8">
  			         <el-form-item label="Fecha de Registro">
                   <el-date-picker
                     v-model="filters.dateRegister"
                     type="daterange"
                     range-separator="To"
                     start-placeholder="Start date"
                     end-placeholder="End date">
                   </el-date-picker>
  			         </el-form-item>
  			       </el-col>



  						 <el-col :span="8">
  			         <el-form-item label="Estatus">
  			           <el-select size="50" v-model="filters.status" placeholder="Select">
  			             <el-option
  			               v-for="item in status"
  			               :key="item.value"
  			               :label="item.label"
  										 :value="item.value">
  			             </el-option>
  			           </el-select>
  			         </el-form-item>
  			       </el-col>

  			       <el-col :span="8">
  			         <el-form-item label="Representación">
  			           <el-select size="50" v-model="filters.representation" placeholder="Select">
  			             <el-option
  			               v-for="office in offices"
  			               :key="office.id"
  			               :label="office.longName"
  										 :value="office.id">
  			             </el-option>
  			           </el-select>
  			         </el-form-item>
  			       </el-col>

               <el-col :span="8">
                 <el-row>
                 </el-row>
                 <el-row>
                   <div class="icon_search">
                     <el-button type="primary" icon="el-icon-search" @click.prevent="searchPreRegistry">Buscar</el-button>
                   </div>
                 </el-row>
  			       </el-col>



			   	</el-form>
					<div slot="footer" class="clearfix">
					</div>
				 </el-card>
			 </div>
		 </el-col>
	 </el-row>

	 <el-row :gutter="20">
		<el-col :span="22" :offset="1">
			<div class="grid-content bg-purple-dark">
				<el-card class="box-card">
					<div slot="header" class="clearfix">
						<span>Pre Registros</span>
					</div>
					<el-form :label-position="labelPosition" label-width="100px" :model="formLabelAlign">
					<el-table
  				    :data="preRegistrations"
  						border
  				    style="width: 100%">
  				    <el-table-column type="expand">
  				      <template slot-scope="props" >
                  <el-row>
                    <el-col :span="12">
                      <el-row>
                        <b>Connacional</b>
                      </el-row>
                      <el-row>
                        <el-col :span="8">
                          Email:
                        </el-col>
                        <el-col :span="8">
                          {{props.row.affected_contact.mail}}
                        </el-col>
                      </el-row>
                      <el-row>
                        <el-col :span="8">
                          Teléfono:
                        </el-col>
                        <el-col :span="8">
                          {{props.row.affected_contact.phone}}
                        </el-col>
                      </el-row>
                      <el-row>
                        <el-col :span="8">
                          País Suceso:
                        </el-col>
                        <el-col :span="8">
                          {{props.row.affected_contact.contact_country.name}}
                        </el-col>
                      </el-row>
                      <el-row>
                        <el-col :span="8">
                          Estado Suceso:
                        </el-col>
                        <el-col :span="8">
                          {{props.row.affected_contact.contact_state.name}}
                        </el-col>
                      </el-row>
                    </el-col>
                    <el-col :span="10"  v-if="props.row.appearing_contact">
                      <el-row>
                        <b>Compareciente</b>
                      </el-row>
                      <el-row>
                        <el-col :span="6">
                          Email:
                        </el-col>
                        <el-col :span="8">
                          {{props.row.appearing_contact.mail}}
                        </el-col>
                      </el-row>
                      <el-row>
                        <el-col :span="6">
                          Teléfono:
                        </el-col>
                        <el-col :span="8">
                            {{props.row.appearing_contact.phone}}
                        </el-col>
                      </el-row>
                      <el-row>
                        <el-col :span="6">
                          País:
                        </el-col>
                        <el-col :span="8">
                          {{props.row.appearing_contact.contact_country.name}}
                        </el-col>
                      </el-row>
                      <el-row>
                        <el-col :span="6">
                          Estado:
                        </el-col>
                        <el-col :span="8">
                          {{props.row.appearing_contact.contact_state.name}}
                        </el-col>
                      </el-row>

                    </el-col>
                    <el-col :span="2">
                      {{status[props.row.status].label }}
                    </el-col>
                  </el-row>

                  <el-row>
                    <el-col :span="4">
                      Descripción del Caso:
                    </el-col>
                    <el-col :span="20">
                      {{ props.row.eventDescription }}
                    </el-col>
                  </el-row>

  				      </template>
  				    </el-table-column>
  				    <el-table-column
  				      label="Folio"
  				      prop="folio"
                width="140">
  				    </el-table-column>
  						<el-table-column label="Connacional">
  							<template slot-scope="scope">
  				        {{scope.row.affected.name}} {{scope.row.affected.surname}} {{scope.row.affected.secondSurname}}
  				      </template>
  				    </el-table-column>
  						<el-table-column label="Compareciente">
  							<template slot-scope="scope" v-if = "scope.row.appearing">
  				        {{scope.row.appearing.name}} {{scope.row.appearing.surname}} {{scope.row.appearing.secondSurname}}
  				      </template>
  				    </el-table-column>
  						<el-table-column
  				      label="Fecha de Registro"
  							prop="created_at">
  				    </el-table-column>
              <el-table-column
  				      label="Representación">
                <template slot-scope="scope">
  				        {{scope.row.office.longName}}
  				      </template>
  				    </el-table-column>
              <el-table-column width="100">
                <template slot-scope="scope">
                  <div class="iconaction">

                    <a href="#" @click.prevent="acceptPreRegister()">
                      <i class="el-icon-success"></i>
                    </a>
                    <a href="#" @click.prevent="updatePreRegister(scope.row.id)">
                      <i class="el-icon-error"></i>
                    </a>
                  </div>
  				      </template>
  				    </el-table-column>
  				  </el-table>

            <ul class="pagination">
              <a href="#" @click.prevent="changePage(pagination.current_page - 1)">
                <i class="el-icon-arrow-left"></i>
              </a>
              <a href="#" @click.prevent="changePage(pagination.current_page - 1)">
                <i class="el-icon-d-arrow-left"></i>
              </a>
              <a href="#" @click.prevent="changePage(page)">
                {{ pagination.current_page }}
              </a>
              <a href="#" @click.prevent="changePage(pagination.current_page + 1)">
                <i class="el-icon-d-arrow-right"></i>
              </a>
              <a href="#" @click.prevent="changePage(pagination.current_page + 1)">
                <i class="el-icon-arrow-right"></i>
              </a>

              Pagina 1 de 6
            </ul>

            <!--
          <nav>
      			<ul class="pagination">
      				<li v-if="pagination.current_page > 1">
      					<a href="#" @click.prevent="changePage(pagination.current_page - 1)">
      						<i class="el-icon-arrow-left"></i>
      					</a>
      				</li>

      				<li v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '']">
      					<a href="#" @click.prevent="changePage(page)">
      						@{{ page }}
      					</a>
      				</li>

      				<li v-if="pagination.current_page < pagination.last_page">
      					<a href="#" @click.prevent="changePage(pagination.current_page + 1)">
      						<i class="el-icon-arrow-right"></i>
      					</a>
      				</li>
      			</ul>
      		</nav>
            -->

				  </el-form>
				 <div slot="footer" class="clearfix">
				 </div>
				</el-card>
			</div>
		</el-col>
	</el-row>

  </div>
</template>

<style>
  .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
	.el-card {
		padding-bottom: 10px;
	}
  .iconaction {
    color: #909399;
    margin: 0 10px;
    font-size: 1.5em;
    vertical-align: middle;
  }
  .icon_search {
    text-align: -webkit-center;
    vertical-align: bottom;
  }
  .pagination {
    border: 5px solid #eaeefb;
    text-align: center;

  }
</style>

<script>

  import Pagination from './Pagination.vue'

  export default {
    components: {
      Pagination
    },
    data () {
      return {
        offices: [],
				preRegistrations: [],
        labelPosition: 'top',
        formLabelAlign: {
          name: '',
          region: '',
          type: ''
        },
				value1:'',
				value2:'',
        value6:'',
				status: [
					{
	          value: '1',
	          label: 'En Solicitud'
	        },
					{
	          value: '2',
	          label: 'Aceptada'
	        },
					{
	          value: '3',
	          label: 'Rechazada'
	        },
					{
						value: '4',
						label: 'Vencida'
					}
				],
        filters: {
          names: '',
          folio: '',
          dateRegister: '',
          representation: '',
          status: ''
        },
        pagination: {
          'total'         : 0,
          'current_page'  : 0,
          'per_page'      : 0,
          'last_page'     : 0,
          'from'          : 0,
          'to'            : 0
        }

      }
    },
    computed: {
		isActived: function() {
			return this.pagination.current_page;
		},
		pagesNumber: function() {
			if(!this.pagination.to){
				return [];
			}

			var from = this.pagination.current_page - this.offset;
			if(from < 1){
				from = 1;
			}

			var to = from + (this.offset * 2);
			if(to >= this.pagination.last_page){
				to = this.pagination.last_page;
			}

			var pagesArray = [];
			while(from <= to){
				pagesArray.push(from);
				from++;
			}
			return pagesArray;
		}
	},

		methods: {
			loadOffices: function(){

			 axios.get('/api/offices').then(
				response=>{
					this.offices = response.data
				},
				error=>{
					console.log(error)
				})

			},
			loadPreRegistry: function(page){
        let params = {
          ...this.filters
        };

				axios.get(`/api/preregistrations?page=`+page,{params: params}).then(
 				response=>{
 					this.preRegistrations = response.data.PreRegistrations.data,
          this.pagination       = response.data.pagination
 				},
 				error=>{
 					console.log(error)
 				})
			},
      searchPreRegistry(){
        this.loadPreRegistry()
      },
      acceptPreRegister(){

      },
      updatePreRegister(id){
        this.$confirm('Desea cancelar este registro', 'Warning', {
       	              confirmButtonText: 'Si',
                      cancelButtonText: 'Cancelar',
                      type: 'warning'
                      }).then(() => {

             var url = '/api/preregistrations/'+id;
                axios.put(url, id).then(response=> {
                  console.log(response);
             	    this.$notify({
                      title: 'Eliminacion',
                      message: 'registro cancelado correctamente',
                      type: 'success'
                    });
             	      this.loadPreRegistry(1)
             })
         	}).catch(() => {
           	this.$notify.info({
             title: 'Cancelado',
             message: 'Registro no actualizado',
         });
           	});
      },
      changePage: function(page) {
  			this.pagination.current_page = page;
  			this.loadPreRegistry(page);
  		}

		},
		created(){
		 this.loadOffices();
		 this.loadPreRegistry();
	 },
  }

</script>
