<template>
	<div class="container">


		<h2>Pre-Registro de Sucesos</h2>
    <hr class="red">

  	<div class="panel-group ficha-collapse" id="padre_Catalogo0">
  			<div class="panel panel-default">
  					<div class="panel-heading">
  							<h4 class="panel-title">
  								<a data-parent="#padre_Catalogo0" data-toggle="collapse" href="#Panel_Catalogo0" aria-expanded="true" aria-controls="Catalogo0" class="">
                                  Datos del Caso*
                              </a>
  							</h4>
  							<button type="button" class="collpase-button" data-parent="#padre_Catalogo0" data-toggle="collapse" aria-expanded="true" href="#Panel_Catalogo0"></button>
  					</div>
  					<div class="panel-collapse collapse in" aria-expanded="true" id="Panel_Catalogo0" style="">
  							<div class="panel-body">
  								<div class="row">
  						        <div class="col-md-6">
  						          <div class="form-group">
  						            <label class="control-label">Descripción del Suceso*:</label>
  						            <textarea class="form-control" id="list.eventDescription" placeholder="Descripción del Suceso" type="text" rows="7" v-model="list.eventDescription"></textarea>
													<div class="text-muted">{{errors.eventDescription}}</div>
  						          </div>
  						        </div>
  						        <div class="col-md-6">
  						          <div class="form-group">
  						            <label class="control-label" for="countrySelect">País*:</label>

  						            <select class="form-control" id="countrySelect" name="countrySelect" v-model="list.countrySelect"  v-on:change="loadStates()">
  						              <option value="" selected="true">Seleccione el Pais donde ocurrio el Suceso</option>
														<option v-for="country in countries" :value="country.id">{{country.name}}</option>
  						            </select>
													<div class="text-muted">{{errors.countrySelect}}</div>
  						          </div>
  						        </div>
  						        <div class="col-md-6">
  						          <div class="form-group ">
  						            <label class="control-label" for="stateSelect">Estado*:</label>
  						            <select class="form-control" id="stateSelect" name="stateSelect" v-model="list.stateSelect" v-on:change="loadMunicipalities()">
  						              <option value="" selected="true">Seleccione el Estado donde ocurrio el Suceso</option>
														<option v-for="state in states" :value="state.id">{{state.name}}</option>
													</select>
													<div class="text-muted">{{errors.stateSelect}}</div>
  						          </div>
  						        </div>
  						        <div id="countyEvent" class="col-md-6" style="display:none">
  						          <div class="form-group ">
  						            <label class="control-label" for="municipalitySelect" >Condado*:</label>
  						            <select class="form-control" id="municipalitySelect" name="municipalitySelect"  v-model="list.municipalitySelect">
  						              <option value="" selected="true">Seleccione el condado donde ocurrio el Suceso</option>
														<option v-for="municipality in municipalities" :value="municipality.id">{{municipality.name}}</option>
													</select>
													<div class="text-muted">{{errors.municipalitySelect}}</div>
  						          </div>
  						        </div>
  										<div id="afectado" class="col-md-6" >
  						          <div class="form-group ">
  												<label class="control-label" for="isAffected">¿Eres la persona afectada?*:</label><br>
													<input type="radio" name="isAffected" v-model="list.isAffected" value="true"> Sí
              						<input type="radio" name="isAffected" v-model="list.isAffected" value="false"> No
													<br>
													<div class="text-muted">{{errors.isAffected}}</div>
  						          </div>
  						        </div>
  						      </div>

  							</div>
  					</div>
  			</div>
  	</div>

  	<div  v-if="list.isAffected !=''" class="panel-group ficha-collapse" id="affected">
  			<div class="panel panel-default">
  					<div class="panel-heading">
  							<h4 class="panel-title">
  								<a data-parent="#affected" data-toggle="collapse" href="#Panel_Affected" aria-expanded="true" aria-controls="affected" class="">
                      Datos del Afectado*
                  </a>
  							</h4>
  							<button type="button" class="collpase-button" data-parent="#affected" data-toggle="collapse" aria-expanded="true" href="#Panel_Affected"></button>
  					</div>
  					<div class="panel-collapse collapse in" aria-expanded="true" id="Panel_Affected" style="">
  							<div class="panel-body">

  									<div id="connacional" class="collapse show">


  												<div class="row">
  													<div class="col-md-4">
  														<div class="form-group">
  															<label class="control-label" for="affectedName">Nombre*:</label>
  															<input class="form-control" id="affectedName" placeholder="Nombre del Afectado" type="text" v-model="list.affectedName">
																<div class="text-muted">{{errors.affectedName}}</div>
  														</div>
  													</div>
  													<div class="col-md-4">
  														<div class="form-group">
  															<label class="control-label" for="affectedSurname">Primer apellido*:</label>
  															<input class="form-control" id="affectedSurname" placeholder="Primer apellido del Afectado" type="text" v-model="list.affectedSurname">
																<div class="text-muted">{{errors.affectedSurname}}</div>
  														</div>
  													</div>
  													<div class="col-md-4">
  														<div class="form-group">
  															<label class="control-label" for="affectedSecondSurname">Segundo apellido:</label>
  															<input class="form-control" id="affectedSecondSurname" placeholder="Segundo apellido del Afectado" type="text" v-model="list.affectedSecondSurname">
  														</div>
  													</div>
  												</div>

  												<div class="row">
  													<div class="col-md-4">
  														<div class="form-group">
  															<label class="control-label" for="affectedMail">Correo Electrónico*:</label>
  															<input class="form-control" id="affectedMail" placeholder="Correo del Afectado" type="text" v-model="list.affectedMail" >
																<div class="text-muted">{{errors.affectedMail}}</div>
  														</div>
  													</div>
  													<div class="col-md-4">
  														<div class="form-group">
  															<label class="control-label" for="affectedPhone">Teléfono*:</label>
  															<input class="form-control" id="affectedPhone" placeholder="Teléfono del Afectado" type="text" v-model="list.affectedPhone">
																<div class="text-muted">{{errors.affectedPhone}}</div>
  														</div>
  													</div>
  												</div>
  									</div>

  							</div>
  					</div>
  			</div>
  	</div>

  	<div  v-if="list.isAffected=='false'" class="panel-group ficha-collapse" id="appearing">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-parent="#appearing" data-toggle="collapse" href="#panel-appearing" aria-expanded="true" aria-controls="panel-appearing">
            Datos del Compareciente*:
            </a>
          </h4>
          <button type="button" class="collpase-button" data-parent="#appearing" data-toggle="collapse" href="#panel-appearing"></button>
        </div>

        <div class="panel-collapse collapse in" id="panel-appearing">
          <div class="panel-body">

    				<div class="row">
    					<div class="col-md-4">
    						<div class="form-group">
    							<label class="control-label" for="appearingName">Nombre*:</label>
    							<input class="form-control" id="appearingName" placeholder="Nombre del Compareciente" type="text" v-model="list.appearingName">
									<div class="text-muted">{{errors.appearingName}}</div>
    						</div>
    					</div>
    					<div class="col-md-4">
    						<div class="form-group">
    							<label class="control-label" for="appearingSurname">Primer apellido*:</label>
    							<input class="form-control" id="appearingSurname" placeholder="Primer apellido del Compareciente" type="text" v-model="list.appearingSurname">
									<div class="text-muted">{{errors.appearingSurname}}</div>
    						</div>
    					</div>
    					<div class="col-md-4">
    						<div class="form-group">
    							<label class="control-label" for="segundoACompareciente">Segundo apellido:</label>
    							<input class="form-control" id="segundoACompareciente" placeholder="Segundo apellido del Compareciente" type="text" v-model="list.appearSecondSurname">
    						</div>
    					</div>
    				</div>

    				<div class="row">
    					<div class="col-md-4">
    						<div class="form-group">
    							<label class="control-label" for="appearingMail">Correo Electrónico*:</label>
    							<input class="form-control" id="appearingMail" placeholder="Correo del Compareciente" type="text" v-model="list.appearingMail">
									<div class="text-muted">{{errors.appearingMail}}</div>
    						</div>
    					</div>
    					<div class="col-md-4">
    						<div class="form-group">
    							<label class="control-label" for="appearingPhone">Teléfono*:</label>
    							<input class="form-control" id="appearingPhone" placeholder="Teléfono del Compareciente" type="text" v-model="list.appearingPhone">
									<div class="text-muted">{{errors.appearingPhone}}</div>
    						</div>
    					</div>
    				</div>

						<div class="row">
    					<div class="col-md-4">
    						<div class="form-group">
									<label class="control-label" for="appearingCountrySelect">País*:</label>

									<select class="form-control" id="appearingCountrySelect" name="appearingCountrySelect" v-model="list.appearingCountrySelect"  v-on:change="loadStates2()">
										<option value="" selected="true">Seleccione el Pais del Compareciente</option>
										<option v-for="country in countries" :value="country.id">{{country.name}}</option>
									</select>
									<div class="text-muted">{{errors.appearingCountrySelect}}</div>
    						</div>
    					</div>
    					<div class="col-md-4">
    						<div class="form-group">
									<label class="control-label" for="appearingStateSelect">Estado*:</label>

									<select class="form-control" id="appearingStateSelect" name="appearingStateSelect" v-model="list.appearingStateSelect"  v-on:change="loadMunicipalities2()">
										<option value="" selected="true">Seleccione el Estado del Compareciente</option>
										<option v-for="state2 in states2" :value="state2.id">{{state2.name}}</option>
									</select>
									<div class="text-muted">{{errors.appearingStateSelect}}</div>
    						</div>
    					</div>

							<div id="countyEvent_2" class="col-md-4" style="display:none">
								<div class="form-group ">
									<label class="control-label" for="appearingMunicipalitySelect" >Condado*:</label>
									<select class="form-control" id="appearingMunicipalitySelect" name="appearingMunicipalitySelect"  v-model="list.appearingMunicipalitySelect">
										<option value="" selected="true">Seleccione el condado del Compareciente</option>
										<option v-for="municipality2 in municipalities2" :value="municipality2.id">{{municipality2.name}}</option>
									</select>
									<div class="text-muted">{{errors.appearingmunicipalitySelect}}</div>
								</div>
							</div>

    				</div>
    			</div>
        </div>
      </div>
    </div>

		<div class="col-md-12" id="SavePreRegistration" v-if="list.isAffected !=''">
      <div class="text-right">
        <input type="button" class="btn btn-primary" value="Generar" v-on:click="createPreRegistration()"/>
      </div>
    </div>

		<hr>

		<div class="modal fade in" id="ModalPRegistro">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Pre-Registro</h4>
					</div>
					<div class="modal-body">
						<p id="MensajeVetanaModal"></p>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" @click.prevent="navigateTo('home')">Cerrar</button>
					</div>
				</div>
			</div>
		</div>

  <div v-if="showModal">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Aviso de Privacidad</h4>
							</div>
							<div class="modal-body">
								<p>La Unidad de Gobierno Digital (UGD) de la Secretaría de la Función Pública (SFP) con domicilio en Avenida Insurgentes Sur, Número 1735, Piso Cuatro, Ala Sur, Colonia Guadalupe Inn, Delegación Álvaro Obregón, México, Código Postal 01020, Ciudad de México, es el sujeto obligado y responsable del tratamiento de los datos personales que se recaban  a través de gob.mx, los cuales serán protegidos conforme a lo dispuesto por la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados, y demás normatividad que resulte aplicable.

Los datos personales recolectados por las dependencias y entidades de la Administración Pública Federal, y empresas productivas del Estado, a través de su portal institucional dentro de gob.mx, o por cualquier otro sujeto obligado que utilice gob.mx para la prestación de algún servicio digital y que recabe datos personales, serán tratados bajo su responsabilidad, conforme a sus atribuciones legales y el aviso de privacidad correspondiente.</p>

							</div>
							<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal"  @click="showModal=false">Cerrar</button>
							</div>
						</div>
					</div>
        </div>
      </div>
    </transition>
  </div>


	</div>
</template>

<script>
import axios from 'axios'
	export default {
		components: {
		},
    data () {
			return{
				errors:[],
				countries: [],
				states: [],
				municipalities: [],
				states2: [],
				municipalities2: [],
				showModal: true,
				list:{
					eventDescription: '',
					countrySelect:'',
					stateSelect:'',
					municipalitySelect: '',
					affectedName: '',
					affectedSurname: '',
					affectedSecondSurname: '',
					affectedMail: '',
					affectedPhone: '',
					appearingName: '',
					appearingSurname: '',
					appearSecondSurname: '',
					appearingMail: '',
					appearingPhone: '',
					appearingCountrySelect: '',
					appearingStateSelect: '',
					appearingMunicipalitySelect: '',
					isAffected: ''
				},
				pre_registration: []
			}
  	},
		mounted() {

		},
    methods: {
			 loadCountries: function(){

   			axios.get('/api/countries').then(
   			 response=>{
   				 this.countries = response.data,
					 this.countries2 = response.data
   			 },
   			 error=>{
   				 console.log(error)
   			 })

   		 },
			 loadStates: function(){
				this.stateSelect="";
				if(this.list.countrySelect == 65){
            document.getElementById("countyEvent").style.display = "block";
        }else{
          document.getElementById("countyEvent").style.display = "none";
        }
   			axios.get('/api/states/'+ this.list.countrySelect).then(
   			 response=>{
   				 this.states = response.data
   			 },
   			 error=>{
   				 console.log(error)
   			 })

   		 },
			 loadMunicipalities: function(){
				 this.list.municipalitySelect="";
   			 axios.get('/api/municipalities/'+ this.list.stateSelect).then(
   			 response=>{
   				 this.municipalities = response.data
   			 },
   			 error=>{
   				 console.log(error)
   			 })

   		 },
			 loadStates2: function(){
				this.list.appearingStateSelect="";
				if(this.list.appearingCountrySelect == 1){
            document.getElementById("countyEvent_2").style.display = "block";
        }else{
          document.getElementById("countyEvent_2").style.display = "none";
        }
   			axios.get('/api/states/'+ this.list.appearingCountrySelect).then(
   			 response=>{
   				 this.states2 = response.data
   			 },
   			 error=>{
   				 console.log(error)
   			 })

   		 },
			 loadMunicipalities2: function(){
				 this.list.appearingMunicipalitySelect="";
   			 axios.get('/api/municipalities/'+ this.list.appearingStateSelect).then(
   			 response=>{
   				 this.municipalities2 = response.data
   			 },
   			 error=>{
   				 console.log(error)
   			 })

   		 },
			createPreRegistration: function(){
				var error = new Object();
				var contador = 0;
				if(this.list.eventDescription==''){
					error.eventDescription = "La Descripción del Suceso es requerido";
					contador++;
				}
				if(this.list.countrySelect==''){
					error.countrySelect = "Seleccione el país del suceso";
					contador++;
				}
				if(this.list.stateSelect==''){
					error.stateSelect = "Seleccione el estado del suceso";
					contador++;
				}
				if(this.list.municipalitySelect=='' && this.list.stateSelect==65){
					error.municipalitySelect = "Seleccione el condado del suceso";
					contador++;
				}
				if(this.list.isAffected==''){
					error.isAffected = "Campo requerido";
					contador++;
				}
				if(this.list.affectedName==''){
					error.affectedName = "Campo requerido";
					contador++;
				}
				if(this.list.affectedSurname==''){
					error.affectedSurname = "Campo requerido";
					contador++;
				}
				if(this.list.affectedMail==''){
					error.affectedMail = "Campo requerido";
					contador++;
				}else {
					var expMail = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	        if(expMail.test(this.list.affectedMail) != true){
	          error.affectedMail = "Ingrese un Email válido";
	          contador++;
	        }
				}
				if(this.list.affectedPhone==''){
					error.affectedPhone = "Campo requerido";
					contador++;
				}else {
					var expPhone = /^([0-9])*$/;
					if(expPhone.test(this.list.affectedPhone)!= true){
						error.affectedPhone = "El Teléfono debe ser numérico";
						contador++;
					}
				}
				if(this.list.isAffected=='false'){
					if(this.list.appearingName==''){
						error.appearingName = "Campo requerido";
						contador++;
					}
					if(this.list.appearingSurname==''){
						error.appearingSurname = "Campo requerido";
						contador++;
					}
					if(this.list.appearingMail==''){
						error.appearingMail = "Campo requerido";
						contador++;
					}else{
						var expMail = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		        if(expMail.test(this.list.affectedMail) != true){
		          error.affectedMail = "Ingrese un Email válido";
		          contador++;
		        }
					}
					if(this.list.appearingPhone==''){
						error.appearingPhone = "Campo requerido";
						contador++;
					}else {
						var expPhone = /^([0-9])*$/;
						if(expPhone.test(this.list.affectedPhone)!= true){
							error.affectedPhone = "El Teléfono debe ser numérico";
							contador++;
						}
					}
					if(this.list.appearingCountrySelect==''){
						error.appearingCountrySelect = "Campo requerido";
						contador++;
					}
					if(this.list.appearingStateSelect==''){
						error.appearingStateSelect = "Campo requerido";
						contador++;
					}
					if(this.list.appearingMunicipalitySelect =='' && this.list.appearingStateSelect==1){
						error.appearingMunicipalitySelected = "Campo requerido";
						contador++;
					}
				}

				if(contador > 0){
					 this.errors = error;
			 }else {
				 var url = '/api/preregistration';
					axios.post('/api/preregistrations', {lista: this.list })
				  .then(function (response) {
						var pre = response.data;
						$('#ModalPRegistro').modal('show');
            document.getElementById("MensajeVetanaModal").textContent = "SU PRE SOLICITUD HA SIDO REGISTRADA CON EL FOLIO: " + pre[0] + ", A PARTIR DEL DÍA DE HOY CUENTA CON 30 DÍAS PARA ACUDIR A LA REPRESENTACIÓN: "+ pre[1];

				  })
				  .catch(function (error) {
				    console.log(error);
				  });
			 }
		 },
		 navigateTo: function (nav) {
			    // Do what you want here.
			    // this.saveTheThing()
			    this.$router.go({
			        path: nav
			    })
			}
  	 },
     created(){
			this.loadCountries();

  	},
	}


</script>

<style>
body{
  overflow:auto;
}
.text-muted {
    color: #d0021b;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
</style>
